
<div class="jumbotron">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-header">
        <h1 class="h2 panel-title  text-center">News Release Date</h1>
      </div>
      <div class="panel-body">
        <h3 class="text-center h2">News summary</h3>
        <a href="#" class="btn btn-block btn-primary">News Download link</a>
      </div>
    </div>
  </div>
</div>
